/* Main Font Import */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
--pale-blue-primary: hsl(225, 100%, 94%);
--bright-blue-primary: hsl(245, 75%, 52%);
--bright-blue-primary-hover: hsl(245, 83%, 68%);
--very-pale-blue-nautral: hsl(225, 100%, 98%);
--desaturated-blue-neutral: hsl(224, 23%, 55%);
--dark-blue-neutral: hsl(223, 47%, 23%);
--white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-size: contain;
    background-color: var(--pale-blue-primary);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.card {
    width: 450px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
}
.hero_section {
    width: 450px;
    height: 220px;
    background-image: url(images/illustration-hero.svg);
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.title {
    width: 354px;
    margin: 0 auto;
    margin-top: 32px;
}
.title h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--dark-blue-neutral);
}
.title p {
    color: var(--desaturated-blue-neutral);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    margin-top: 17px;
}
.order_summary {
    display: flex;
    align-items: center;
    width: 354px;
    margin: 20px auto 0 auto;
    border-radius: 11px;
    background-color: var(--very-pale-blue-nautral);
}
.order_summary .order_summary_icon {
    padding: 25px 20px 25px 24px;
}
.order_summary .priceplan {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 6px;
}
.order_summary .price{
    color: var(--desaturated-blue-neutral);
    font-size: 16px;
}
.order_summary .change_offer {
    padding-left: 94px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
.order_summary .change_offer:hover {
    color: var(--bright-blue-primary-hover);
    text-decoration: none;
}
.checkout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 354px;
    margin: 32px auto 0 auto;
}
.checkout button {
    width: 354px;
    height: 50px;
    border-radius: 11px;
    background: var(--bright-blue-primary);
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
    color: var(--white);
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.checkout button:hover {
    background-color: var(--bright-blue-primary-hover);
}
.checkout a {
    margin-top: 32px;
    margin-bottom: 48px;
    color: var(--desaturated-blue-neutral);
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
}
.checkout a:hover {
    color: var(--dark-blue-neutral);
}

@media only screen and (max-width: 500px) {
    body {
        background: url(images/pattern-background-mobile.svg) no-repeat;
        background-size: contain;
        background-color: var(--pale-blue-primary);
    }
    .card {
        width: 327px;
        margin: 0 auto;
    }
    .hero_section {
        width: 327px;
        height: 160px;
        background-size: cover;
    }
    .title h3{
        font-size: 22px;
    }
    .title p {
        width: 263px;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px; /* 166.667% */
        margin: 16px auto 0 auto;
    }
    .order_summary {
        width: 279px;
    }
    .order_summary .priceplan {
        width: 89px;
        font-size: 14px;
    }
    .order_summary .price {
        font-size: 14px;
    }
    .order_summary .change_offer {
        padding-left: 32px;
    }
    .checkout {
        width: 279px;
        margin: 24px 24px 0 24px;
    }
    .checkout button {
        width: 279px;
    }
  }